.App {
  text-align: center;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@font-face{
  font-family: 'Racing Sans One';
  font-style: normal;
  src: url('./assets/fonts/RacingSansOne-Regular.ttf')
}

/*------- Input field Stylings --------*/

.header {
  display: flex;
  justify-content: space-evenly;
  /* align-items: space-around; */

  height: 100%;
  margin: auto;
  align-items: center;
  flex-direction: column;
  font-family: "Racing Sans One";

}
.todo-submit {
  cursor: pointer;
  background-color: #e5e6ff;
  border-radius: 5px;
  border: none;
  color: black;
  height: 75px;
  width: 50%;
  font-size: 30px;
  font-weight: 500;
  box-shadow: 0px 17px 13px -11px #0000006e;
  font-family: "Racing Sans One";

}

.todo-submit::before {
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* position: absolute; */
  width: 100%;
  height: 100%; 
  box-shadow: 0px 23px 13px -11px #0000006e;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  font-family: "Racing Sans One";

}
.todo-submit:hover {
  transform: scale(1.1);
  background-color: hsla(238, 100%, 92%, 1);;
}

.todo-submit:focus {
  outline: none;
  transform: scale(0.95);
}

.todo-input {
  border-bottom: 3px solid grey;
  border-left: none;
  border-top: none;
  border-right: none;
  height: 40px;
  width: 100%;
  font-size: 30px;
  font-family: "Racing Sans One";

}

.todo-input:focus{
  
  border-bottom: 3px solid black;
  outline: none;
}


.todoListMain {
  background-color: white;
  position: absolute;
  top: 500px;
  left: 25px;
  border-radius: 5px;
  border-bottom-right-radius: 30px;
  margin: auto;
  width: 370px;
  height: 30vh;
  display: flex;
  align-items: center;
}
/* .todoListMain::after {
  content: '';
  background-color: grey;
  width: 50px;
  
  height: 50px;
} */

/*-------- To do Items stylings ------------*/

.theList {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 0;
  list-style-type: none;
  align-items: center;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}


.todo-list-item {
  background-color: black;
  color: white;
  font-family: "Racing Sans One";

  cursor: pointer;
  padding: 0 20px 0 20px;
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cacaca;
  height: 50px;
  border-radius: 5px;
  width: 329px;
  margin-top: 10px;
}

.todo-list-item-deletebutton{
  background-color: white;
  height: 5px;
  width: 20px;
  color: red;
  font-family: "Racing Sans One";
  border: red;
  border-radius: 100px;
}

.todo-list-item:hover {
  border-bottom: 2px solid black;
}

/*-------- GlobalTimer stylings ------------*/

.globaltimer-container{
  background-color: black;
  display: block;
  height: 187px;
  color: white;
  font-family: "Racing Sans One";
  text-align: center;
}

.globaltimer-header{
  text-align: left;
  margin-top: 15px;
  margin-left: 15px;
}

.globaltimer-time{
  margin-top: 10px;
  font-size: 80px;
  margin-left: auto;
}

/*-------- ListContainer stylings ------------*/
.listcontainer-container{
  display: block;
  margin-top: 69px;
  height: 479px;
  background-color: red;
  padding-top: 10px;
}

.listcontainer-addbutton{
  display: inline-block;
  position: absolute;
  top: 650px;
  left: 335px;

  background-color: black;
  color: white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border-width: 3px;
  border-color: white;
  text-align: center;
  vertical-align: top;
  font-weight: 900;
  font-size: 20px;
  margin-top: 10px;

}